---
layout: page
---

{{ content }}

<hr>

{% assign current = page.name | remove: '.html' %}

{% assign prev = page.prev %}
{% unless prev %}
  {% assign prev = current | plus: 0 | minus: 1 %}
{% endunless %}

{% assign next = page.next %}
{% unless next %}
  {% assign next = current | plus: 0 | plus: 1 %}
{% endunless %}

{% assign url_parts = page.url | remove_first: '/' | split: '/' %}
{% assign lang = url_parts[0] %}
{% assign section = url_parts[1] %}
{% assign base_url = '/' | append: lang | append: '/' | append: section | append: '/' %}

<table class="w-100">
    <tbody>
        <tr>
            {% if prev %}
                <td align="left">
                    <a href="{{ base_url | relative_url }}{{ prev }}">< antaŭa leciono</a>
                </td>
            {% endif %}
            {% if next %}
                <td align="right">
                    <a href="{{ base_url | relative_url }}{{ next }}">sekva leciono ></a>
                </td>
            {% endif %}
        </tr>
    </tbody>
</table>
