---
layout: page
---

{{ content }}

{% assign current = page.name | remove: '.html' | plus: 0 %}

{% assign default_prev = current | minus: 1 %}
{% assign prev = page.prev | default: default_prev %}

{% assign default_next = current | plus: 1 %}
{% assign next = page.next | default: default_next %}

{% assign url_parts = page.url | remove_first: '/' | split: '/' %}
{% assign lang = url_parts[0] %}
{% assign section = url_parts[1] %}
{% assign base_url = '/' | append: lang | append: '/' | append: section | append: '/' %}

<div style="margin-top: 1.33em;"></div>

<table width="100%">
    <tbody>
        <tr>
            {% if current > 0 %}
                <td align="left">
                    <a href="{{ base_url | relative_url }}{{ prev }}">< antaŭa leciono</a>
                </td>
            {% endif %}
            {% unless next >= 76 %}
                <td align="right">
                    <a href="{{ base_url | relative_url }}{{ next }}">sekva leciono ></a>
                </td>
            {% endunless %}
        </tr>
    </tbody>
</table>
